# Core ML & Data Science
tensorflow==2.10.1
tensorflow-addons==0.22.0
numpy==1.26.4

# Tokenization & NLP
transformers==4.49.0
tokenizers==0.21.0
datasets==3.5.0
evaluate==0.4.3

# Utility & Monitoring
wandb==0.19.9
tqdm==4.67.1

# Note: tensorflow-text, tensorflow-intel, tensorflow-hub, and tensorflow-io-gcs-filesystem
# might be automatically installed with tensorflow or only needed for specific environments 